{
    "game": [
        {
            "name": "game1",
            "players": [
                {
                    "name": "Fulano",
                    "item": "stone"
                },
                {
                    "name": "Ciclano",
                    "item": "paper"
                },
                {
                    "name": "Beltrano",
                    "item": "scissor"
                }
            ]
        },
        {
            "name": "game2",
            "players": [
                {
                    "name": "Fulano",
                    "item": "stone"
                },
                {
                    "name": "Ciclano",
                    "item": "stone"
                },
                {
                    "name": "Beltrano",
                    "item": "scissor"
                }
            ]
        },
        {
            "name": "game3",
            "players": [
                {
                    "name": "Fulano",
                    "item": "paper"
                },
                {
                    "name": "Ciclano",
                    "item": "paper"
                },
                {
                    "name": "Beltrano",
                    "item": "scissor"
                }
            ]
        }
    ]
}
